body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: #FEFEFE;
  color: #2E2E2E;
}

/* Header */

.header {
  color: #2E2E2E;
  display: flex;
  justify-content: space-around;
  max-width: 1440px;
  margin: 0 auto;
  line-height: 2;
}

.header-logo {
  vertical-align: middle;
}

.header-info {
  display: flex;
  flex-direction: column;
}

.header-info span {
  font-weight: bold;
}

.header-info-phone {
  font-size: 24px;
}

.header-info-adress p {
  font-size: 18px;
  margin-left: 10px;
}

.header-info-adress ul {
  display: flex;
  justify-content: flex-start;
}

.header-info-adress li {
  margin: 0 2px;
}

.header-info-menu ul {
  display: flex;
  justify-content: space-between;
}

.header-info-menu a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: #2E2E2E;
  background: #F1F1F1;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 0 5px;
}

.header-info-menu a:hover {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: #FEFEFE;
  background: #DCB5CE;
  border-radius: 5px;
}

/* Header end */

/* Banner */

.banner {
  background-image: url(./images/banner.jpg);
  background-size: cover;
  margin-top: 10px;
  height: 600px;
  position: relative;
}

.banner-switch {
  position: absolute;
  left: 48%;
  bottom: 2%;
}

.banner-switch a {
  border-radius: 50%;
  background: #DCB5CE;
  opacity: 1;
  margin: 5px;
  padding: 0px 8px;
}

/* Banner end */

/* Services */

.services-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.services-wrapper h2 {
  font-size: 36px;
  font-weight: bold;
  color: #2E2E2E;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 1440px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding-bottom: 10px;
  background: #EED8E7;
  margin: 0 20px 20px 20px;
  font-size: 16px;
  border-radius: 15px;
}

.service img {
  width: 298px;
  border: 2px;
  border-radius: 15px;
  border-color: #EED8E7;
}

.service h3 {
  font-size: 18px;
  font-weight: bold;
  color: #2E2E2E;
  text-transform: uppercase;
  margin: 20px auto;
}

.service ul {
  list-style-type: circle;
}

.service li {
  padding: 5px;
  margin: 5px;
}

.service div {
  line-height: 1;
  text-align: center;
  width: 150px;
}
